.contact-item 
	p
		color $profile_parragraph 
		a
			text-decoration none
			color $profile_card_title
			font-weight bold

.profile-contact_excerpt
	color $profile_parragraph
	text-align center
	
.profile-contact
	padding-mobile()
		

@media only screen and (min-width $screen-sm)
	.profile-contact_excerpt
		padding 0 16%

@media only screen and (min-width $screen-lg)
	.profile-contact_excerpt
		padding 0 30%
		font-size 1.1em