.profile-card
	picture
		img
			width 100%
.card
	&-title
		text-align center
		color $profile_card_title
	&-description
		text-align center
		color $profile_parragraph
		text-align center
		padding 0 8px 8px 8px
		font-size 1.015rem
		line-height 1.5
		margin-top 0		

@media only screen and (min-width $screen-sm)
	.profile-card
		width 45%

@media only screen and (min-width $screen-lg)
	.profile-card
		width 30%