// Colors
$andina_colorPrimary = #d44944 !important
$profile_subtitle = #474747
$profile_card_title = #5a5a5a
$profile_parragraph = #898989

// Fonts
$font_nunito = 'Nunito', sans-serif !important
$font_montserrat = 'Montserrat', sans-serif !important
