doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="lib/normalize/normalize.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito:400,700,900")
		title Edgardo Personal Responsive Profile
	body
		header
			#home.profile-header
				.profile-header_logo
					h1 Edgardo Tupiño
				.profile-header_nav
					nav
						ul.nav-container
							li.nav-item
								a.scroll(href="#home") Home
							li.nav-item
								a.scroll(href="#portfolio") Portfolio
							li.nav-item
								a.scroll(href="#contact") Contact
						ul.nav-mobile-container
							li.nav-mobile-item
								a.scroll(href="#home") Home
							li.nav-mobile-item
								a.scroll(href="#portfolio") Portfolio
							li.nav-mobile-item
								a.scroll(href="#contact") Contact

		section.main.container
			#description.profile-description
				.profile-excerpt
					article
						p Hi! I'm a fron-end developer who loves responsive design and css. I recently finished a degree in front-end web development at Treehouse and am exited to put all my skills to use!
				.profile-avatar
					img(src="assets/images/responsive-layout-profile.png", alt="Avatar of Edgardo Tupiño")
			#portfolio.profile-portfolio
				.profile-section.profile-subtitle
					h2.subtitle Portfolio
				.profile-section.profile-container
					.profile-card
						picture
							img(src="assets/images/portfolio-1.png", alt="Portfolio 1")
						h3.card-title Marketing Page
						p.card-description This project show the front page of a marketing website meant for specific business I'm interested in.
					.profile-card
						picture
							img(src="assets/images/portfolio-2.png", alt="Portfolio 2")
						h3.card-title Search Page
						p.card-description This project search through a specific database to find information that the user is trying to look up.								
					.profile-card
						picture
							img(src="assets/images/portfolio-3.png", alt="Portfolio 3")
						h3.card-title Travel App
						p.card-description This project compares travel times based on different transportation methods and tells you the best one.								
					.profile-card
						picture
							img(src="assets/images/portfolio-4.png", alt="Portfolio 4")
						h3.card-title Map of Favorites Spots
						p.card-description This projec uses mapping apis to plot points for my favorite spots in the city for do-it-yourself walking tour.								
					.profile-card
						picture
							img(src="assets/images/portfolio-5.png", alt="Portfolio 5")
						h3.card-title Photo Gallery
						p.card-description This project show pictures from a recent trip to the viewer and allows them to easily navigate through photos.								
					.profile-card
						picture
							img(src="assets/images/portfolio-6.png", alt="Portfolio 6")
						h3.card-title Calculator
						p.card-description Someone can enter in the numbers they want, and press the big blue button and get the result.								
			#skills.profile-skills


			#contact.profile-contact
				.profile-subtitle
					h2.subtitle Contact
				.profile-contact_excerpt
					p If yo're intested in chatting or want more  information about what I've  been  working on, I'd love to hear from you!
				.profile-contact_details
					.contact-item.contact-phone
						p Phone
						p
							a(href="tel:+11115551234") +1 (111) 555-1234
					.contact-item.contact-email
						p Email
						p 
							a(href="mailto:edgardo@tupino.com") edgardo@tupino.com


	footer
		hr
		.profile-footer
			.profile-footer_logo
				p Edgardo Tupiño
			.profile-footer_nav
				ul.nav-container
					li.nav-item
						a.scroll(href="#home") Home
					li.nav-item
						a.scroll(href="#portfolio") Portfolio
					li.nav-item
						a.scroll(href="#contact") Contact
			.profile-footer_button__top
				p
					a.scroll(href="#home") BACK TO TOP


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="js/app.js")