// .profile-footer
// 	border solid green
hr
	opacity .2

footer
	padding-mobile()
	margin-top 3em

.profile
	&-footer_logo
		font-weight 900
		color #444
	&-footer_button__top
		font-weight 900
		color #444
	
.contact
	&-item
		display block
		text-align center
	&-phone p,
	&-email p
		display inline-block
		margin 10px
.profile-footer
	display flex
	justify-content space-between
	padding 0 0 0.5em 0

.profile-footer_nav
	display none

.profile-footer_button__top p a
	text-decoration none

@media only screen and (min-width $screen-sm)
	.profile-footer_button__top
		display none
	
	.profile-footer_nav
		display: block

@media only screen and (min-width $screen-lg)
	footer
		max-width-lg()
		